body {
    font-family: Arial, sans-serif;
}

#bg {
    background-image: url(images/restaurant-bg.jpg);
    background-size: cover;
    height: 150vh;
}
#menu{
    background-color: rgba(39, 39, 39, 0.589);
    width: 70%;
    margin: 0% auto;
    border-radius: 20px;
    font-weight: 600;
}

#menu h2 {
    font-weight: 600;
    color: #000000;
}

#menu div{
    background-color: rgba(0, 0, 0, 0.644);
}

.filter-btn {
  border-color: #333333 !important;   /*orange border*/
  color: #ffffff !important;          /* orange text */
  font-weight: 600;
}

.filter-btn:hover {
  background-color: #ff6600 !important;  /* orange background */
  color: white !important;               /* white text on hover */
}


.hero {
    color: white;
    text-shadow: 1px 1px 5px black;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.menu-item{
    opacity: 90%;
}